@import "bourbon";
@import "neat";

* { margin: 0; }
html { background-color: #F5F5F5; }
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a:hover { color: #ecf0f1; }

.logo {
  display: inline-block;
  float: left;
  left: 8%;
  line-height: 100px;
  position: absolute;
  top: 13px;
  vertical-align: top;
  vertical-align: top;
  width: 150px;
}

header {
  background-color: #8e44ad;
  border-bottom: 1px solid darken(white, 10);
  height: 100px;
  position: relative;
  width: 100%;
}

nav {
  display: inline-block;
  position: absolute;
  right: 8%;
  vertical-align: top;
}

ul { margin: 0; }

li {
  display: inline-block !important;
  line-height: 100px;
  color: white !important;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin: 10px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

header, footer {
  color: white;
}

section {
  background-color: white;
  padding: 1em 2em;
}
.productos {
  padding: 1em 8%;
  overflow: hidden;
  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px; }
}
.producto {
  @include span-columns(3);
  @include omega(4n);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 3em;
  text-align: center;
  img {
    margin-right: 1em;
    text-align: center;
    width: 150px;
  }
  span {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
  }
  input {
    background-color: #9b59b6;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    padding: 7px 25px;
    color: white;
    font-size: .9em;
    &:hover {
      background-color: lighten(#D14725, 10);
      cursor: pointer;
    }
  }
  h3 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
  }
  h2, p {
    margin-bottom: .5em;
  }
  h2 {
    margin-bottom: 2em;
  }
  p {
    text-align: left;
  }
}
button {
  background-color: #9b59b6;
  border: 1px solid #27ae60;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
}
button:hover {
  background-color: #27ae60;
  cursor: pointer;
}

#notice{
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid #e67e22;
  padding: 6px;
  margin: 5px 29px 0 20px;
}

.total{
  color:green;
  display: inline-block;
  margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
  .producto { text-align: center; }
  .producto p {
    text-align: left;
  }
  button {
    display: block;
    margin: 0 auto;
    background-color: #9b59b6;
  }
  nav { display: none; }
  .productos {
    margin-left: 0;
  }
}

#notice {
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid #e67e22;
  padding: 6px;
  margin: 5px 29px 0 20px;
}

#alert {
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid red;
  padding: 6px;
  margin: 5px 29px 0 20px;
}

.total {
  color:green;
  display: inline-block;
  margin-bottom: 15px;
}
.formulario {
  margin: 0 auto;
  max-width: 700px;
  h3 {
    margin-top: 3em;
    font-size: 1em;
  }
  h2 {
    text-align: center;
  }
  input[type="email"], input[type="password"],
  input[type="text"], input[type="number"], textarea {
    width: 100%;
  }
  .field {
    margin-top: 1em;
  }
  .btn {
    background-color: #9b59b6;
    border: none;
    border-radius: 8px;
    padding: 7px 25px;
    color: white;
    font-size: .9em;
    margin-top: 1em;
    width: 300px;
    &:hover {
      background-color: lighten(#D14725, 10);
      cursor: pointer;
    }
  }
}