@import "bourbon";
@import "neat";

* { margin: 0; }
html { background-color: #F5F5F5; }
body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: em(1024);
}

a:hover { color: #ecf0f1; }

.logo {
  display: inline-block;
  float: left;
  left: 8%;
  line-height: 100px;
  position: absolute;
  top: 13px;
  vertical-align: top;
  vertical-align: top;
  width: 150px;
}

header {
  background-color: #8e44ad;
  border-bottom: 1px solid darken(white, 10);
  height: 100px;
  position: relative;
  width: 100%;
}

nav {
  display: inline-block;
  position: absolute;
  right: 8%;
  vertical-align: top;
}

ul { margin: 0; }

li, i {
  display: inline-block !important;
  line-height: 100px;
  color: white !important;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin: 10px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

header, footer {
  color: white;
}

section {
  background-color: white;
  padding: 1em 2em;
}
.producto {
  border-top: 5px dotted #999;
  overflow: hidden;
  padding: 2em 3em 2em;
}
.producto img {
  float: left;
  margin-right: 1em;
  width: 150px;
}
h3, h2, p {
  margin-bottom: .5em;
}
button {
  background-color: #2ecc71;
  border: 1px solid #27ae60;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
}
button:hover {
  background-color: #27ae60;
  cursor: pointer;
}

#notice{
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid #e67e22;
  padding: 6px;
  margin: 5px 29px 0 20px;
}

.total{
  color:green;
  display: inline-block;
  margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
  .producto { text-align: center; }
  .producto img {
    float: none;
    margin: 0;
  }
  .producto p {
    text-align: left;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  nav { display: none; }
  .productos { margin-left: 0; }
}

#notice {
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid #e67e22;
  padding: 6px;
  margin: 5px 29px 0 20px;
}

#alert {
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid red;
  padding: 6px;
  margin: 5px 29px 0 20px;
}

.total {
  color:green;
  display: inline-block;
  margin-bottom: 15px;
}
