<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8"/>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
  </head>
  <body>
    <header>
      <a href="/"><img class= "logo" src="/logo.png"></a>
    </header>
    <%= yield %>
  </body>
</html>